<h4>Orders</h4>
<nz-date-picker [(ngModel)]="date" (ngModelChange)="onChange($event)"></nz-date-picker>
<nz-table
class="kristan-table"
nzShowSizeChanger
[nzData]="customers"
[nzFrontPagination]="false"
[nzLoading]="loading"
[nzTotal]="total"
[nzPageSize]="pageSize"
[nzPageIndex]="pageIndex"
>
<thead>
  <tr>
    <th>Customer</th>
    <th>Date</th>
    <th>Status</th>
    <th>Total</th>
  </tr>
</thead>
<!-- <tbody>
  <tr *ngFor="let data of customers">
    <td>{{ data.customer_id}}</td>
    <td>{{ data.date_created_gmt}}</td>
    <td>{{ data.status }}</td>
    <td>{{ data.total | currency:'PHP' }}</td>
  </tr>
</tbody> -->
</nz-table>